<!-- scripts and CSS files in page header -->

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Globby</title>
<meta name="description" content="virtual interactive character for health and well-being in the workplace">
<meta name="author" content="fantastic four">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--<link rel="stylesheet" href="./css/normalize.css">
<link rel="stylesheet" href="./css/skeleton.css">-->

<!-- App specific css
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--<link rel="stylesheet" href="./css/app.css">-->

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--<link rel="icon" type="image/png" href="images/favicon.png">-->

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="./js/lib/p5.min.js"></script>
<script type="text/javascript" src="./js/lib/p5.play.js"></script>
<script type="text/javascript" src="./js/vic.client.js"></script>