<!DOCTYPE html>
<html lang="en">
<head>

  <script>
    var ipAddress = "<%= ipAddress %>";
  </script>

  <% include ../partials/head.ejs %>
  
  <style>
    body {
      padding: 0px;
      margin: 0px;
      /* background-color: #333333;*/
    }
  </style>
    
</head>
<body>
</body>
</html>