<!DOCTYPE html>
<html lang="en">
<head>

  <script>
    var ipAddress = "<%= ipAddress %>";
  </script>

  <% include ../partials/head.ejs %>
  
  <style>
    body {
      padding: 0px;
      margin: 0px;
      border:0px;
    }
    
    .sad {
      background: linear-gradient(rgb(92,92,92), rgb(44,44,44)); /* neutral */
    }
    
    .neutral {
      background: linear-gradient(rgb(20,118,131), rgb(0,32,95)); /* sad */
    }
    
    .excited {
      background: linear-gradient(rgb(197,0,130), rgb(132,14,205)); /* excited */
    }
    
  </style>
    
</head>
<body>
</body>
</html>